@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor
@using Enms.Client.Base
@using Enms.Client.State
@namespace Enms.Client.Shared.Layout
@inherits EnmsComponentBase

<MudDrawer
  Open="@LayoutState.IsNavigationDrawerOpen"
  OpenChanged="open => LayoutState.SetNavigationDrawerOpen(open)"
  ClipMode="DrawerClipMode.Never"
  Elevation="0"
  Anchor="Anchor.Top"
  Variant="DrawerVariant.Temporary"
  Height="100vh">
  <MudDrawerHeader Style="padding-inline: 0;">
    <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-row">
      <MudImage
        Src="/favicon.svg"
        Alt="HelbEx"
        Style="height: calc(var(--mud-appbar-height) - 24px);"/>
      <MudSpacer />
      <MudButton
        OnClick="e => LayoutState.SetNavigationDrawerOpen(false)"
        Variant="Variant.Text"
        Color="Color.Primary"
        Style="margin-right: -24px;"
        Class="d-flex flex-row align-center">
        <MudIcon Icon="@Icons.Material.Filled.Close"/>
      </MudButton>
    </MudContainer>
  </MudDrawerHeader>
  <MudDrawerContainer>
    <MudNavMenu>
      @foreach (var route in GetNavigationDescriptors())
      {
        <MudNavLink
          Href="@route.Route"
          OnClick="e => LayoutState.SetNavigationDrawerOpen(false)"
          Match="NavLinkMatch.All">
          <MudContainer
            MaxWidth="MaxWidth.Small"
            Class="d-flex flex-row">
            <MudHidden Breakpoint="Breakpoint.Xs">
              <div
                style="margin-left: -8px;"
                class="d-flex flex-row align-center">
                <MudIcon Icon="@route.Icon" />
              </div>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndUp">
              <div
                style="margin-left: -28px;"
                class="d-flex flex-row align-center">
                <MudIcon Icon="@route.Icon" />
              </div>
            </MudHidden>
            <MudText Class="ml-4">
              @Translate(route.Title)
            </MudText>
          </MudContainer>
        </MudNavLink>
      }
    </MudNavMenu>
  </MudDrawerContainer>
</MudDrawer>

@code {
  [CascadingParameter]
  public MainLayoutState LayoutState { get; set; } = default!;
}
