@page "/line/{id?}"

@namespace Enms.Client.Pages

@attribute [Authorize]
@using Enms.Business.Models
@using Enms.Client.Shared.Charts
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Microsoft.AspNetCore.Authorization
@inherits Enms.Client.Base.EnmsOwningComponentBase

<Mutating T="EgaugeLineModel" Id="@Id">
  <Label>
    <MudText Typo="Typo.h5" Class="mb-2">
      @(model.Title)
    </MudText>
    <MudDivider Class="mb-4" />
    <DetailsField Title="@Translate("Id")">
      @model.Id
    </DetailsField>
    <LineGraph Model="@model"/>
  </Label>
  <Edit Context="model">
    <EgaugeLineEdit Model="@model"/>
  </Edit>
  <Details Context="model">
    <EgaugeLineDetails Model="@model"/>
  </Details>
</Mutating>

@code {

  [Parameter]
  public string? Id { get; set; }

}
