@page "/line/{id?}"

@namespace Enms.Client.Pages

@attribute [Authorize]
@using Enms.Business.Models
@using Enms.Client.Shared.Charts
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Enms.Client.Shared.Fields
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Enms.Client.Base
@inherits EnmsOwningComponentBase

<Mutating T="EgaugeLineModel" Id="@Id">
  <Label Context="model">
    <MudText Typo="Typo.h5" Class="mb-2">
      @(model.Title)
    </MudText>
    <MudDivider Class="mb-4" />
    @if (model.CreatedOn is not null)
    {
      <div class="mt-4 mb-4">
        <LineGraph Lines="@([model])"/>
      </div>
    }
    <DetailsField Title="@Translate("Id")">
      @model.Id
    </DetailsField>
  </Label>
  <Edit Context="model">
    <EgaugeLineEdit Model="@model"/>
  </Edit>
  <Details Context="model">
    <EgaugeLineDetails Model="@model"/>
  </Details>
</Mutating>

@code {

  [Parameter]
  public string? Id { get; set; }

}
