@page "/users"

@using Enms.Business.Models.Enums
@namespace Enms.Client.Pages

@attribute [Navigation(
  Title = "Users",
  Allows = [RoleModel.OperatorRepresentative],
  Order = -70,
  Icon = Icons.Material.Filled.SupervisedUserCircle
)]
@attribute [Authorize]
@using Enms.Business.Models.Composite
@using Enms.Business.Queries
@using Enms.Client.Shared.Models
@using Enms.Client.Shared.Streaming
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.DependencyInjection
@using MudBlazor
@inherits Enms.Client.Base.EnmsOwningComponentBase

<MudText Typo="Typo.h5" Class="mb-6">
  @Translate("Users")
</MudText>
<MudDivider />

<Paging
  T="MaybeRepresentingUserModel"
  PageAsync="@(page => ScopedServices
    .GetRequiredService<RepresentativeQueries>()
    .MaybeRepresentingUsers(pageNumber: page))">
  <Summary Context="maybeRepresentingUser">
    @{
      var href = $"user/{maybeRepresentingUser.User.Id}";

      <MudLink
        Href="@href"
        Underline="Underline.Hover"
        Color="Color.Dark">
        <div class="pt-4 pb-2">
          <MaybeRepresentingUserSummary
            Model="@maybeRepresentingUser"/>
        </div>
      </MudLink>
      <MudDivider />
    }
  </Summary>
</Paging>

<MudFab
  Href="user"
  Size="Size.Medium"
  Color="Color.Tertiary"
  StartIcon="@Icons.Material.Filled.Add"
  Class="absolute mx-8 my-8"
  Style="bottom: 0; right: 0;" />
